version: "3.9"
services:
  app:
    build: .
    ports:
      - "8080:8080"
    links:
      - database
    restart: always
  database:
    build: ./database
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password