
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Courier New', Courier, monospace;
}

html body {
    font-size: 16px;
    line-height: 1;
}

input {
    font-size: 16px;
    margin: 0 auto;
    padding: 12px;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    width: 100%;
    height: 20px;
    display: block;
    transition: all 0.3s;
}

input:placeholder-shown {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}

button {
    height: 20px;
    width: 151px;
    font-size: 15px;
    background-color: #438BD4;
    border: 1px solid #438BD4;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    margin: 0 5px;
}

button:hover, button:focus {
    background-color: #2A5988;
    color: #fff;
}

.table {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 0;
}

.row:nth-of-type(even) {
    background-color: #f2f2f2;
}

.row:nth-of-type(odd) {
    background-color: #ffffff;
}

.column {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    word-break: break-word;
}

.home {
    display: flex;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px 0;
}

.home-header-btns {
    display: flex;
    justify-content: space-between;
}

.home-content {
    display: flex;
    max-width: 800px;
}

.modal {
    position: absolute;
    z-index: 100;
    top: 200px;
    left: 25%;
    height: 500px;
    width: 500px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-height: 500px;
    overflow-y: scroll;
}

.preview {
    display: flex;
    flex-direction: column;
}

.preview-header {
    display: flex;
}

.preview-body {
    display: flex;
}

.preview-footer {
    display: flex;
    flex-direction: row;
}

.bold {
    font-weight: bold;
}